@media only screen and (max-width: 2560px) {}

@media only screen and (max-width: 1920px) {}

@media only screen and (max-width: 1660px) {}

@media only screen and (max-width: 1440px) {
    .activity-wrap{
        .activity-box {
            .activity-box-img{
                margin: 0 auto 20px;
                img{
                    max-width: 40px;
                }
            }
            .activity-count{
                font-size: 12px;
            }
        }
    }
    .popular-destination-wrap {
        .popular-destination-box{
            .popular-destination-text {
                .popular-txt-top{
                    .after-hover{
                        .popular-destination-info {
                            li{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    .left-right-gap {
        padding-left: 50px;
        padding-right: 50px;
    }
    .home-banner-title {
        h2 {
            font-size: 85px;
        }
    }
    .banner-src {
        margin: 50px auto 0;
    }
    .tour-destination-wrap {
        .tour-destination-box {
            .destination-box-dtls {
                .destination-name {
                    h3 {
                        font-size: 24px;
                        margin-bottom: 0;
                    }
                }
                .destination-text {
                    transform: translate3d(0, -24px, 0);
                    .mount-img {
                        margin-bottom: 22px;
                        img{
                            width: 60px;
                        }
                    }
                    h4 {
                        font-size: 24px;
                        margin-bottom: 4px;
                    }
                    .text-desc{
                        font-size: 13px;
                    }
                }
            }
        }
    }
    .papular-package-one {
        .papular-package-one-lft {
            flex: 0 0 280px;
            max-width: 280px;
        }
        .papular-package-one-rgt{
            padding: 50px 20px 30px;
            h3{
                font-size: 17px;
            }
        }
    }
    .best-seller-round-box-wrap {
        .best-seller-round-img {
            height: 300px;
            width: 300px;
        }
    }
    .best-seller-wrap {
        margin-top: -200px;
    }
    .trip-month {
        img{
            max-width: 230px;
        }
    }
    .popular-destination-wrap {
        .popular-destination-box {
            .popular-destination-text {
                .popular-txt-top {
                    .popular-title {
                        transform: translate3d(0, 30px, 0);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1366px) {
    .mission-vission-img-wrap {
        width: 350px;
    }
    .papular-package-one {
        .papular-package-one-lft {
            flex: 0 0 220px;
            max-width: 220px;
        }
    }
    .about-info-box{
        padding: 20px;
        h4{
            font-size: 18px;
        }
        .about-box-desc{
            font-size: 12px;
        }
    }
}

@media only screen and (max-width: 1350px) {}

@media only screen and (max-width: 1280px) {
    .activity-wrap{
        .activity-box {
            padding: 20px;
        }
    }
    .add-footer-pattern-gap {
        padding-bottom: 9rem;
    }
    .best-seller-text {
        padding: 37px 0 80px 0;
        h3{
            font-size: 24px;
        }
        .best-price-wrap {
            h4{
                font-size: 34px;
            }
            h2 {
                font-size: 30px;
            }
        }
        .destination-info-list-wrap {
            li {
                .destination-info-list-img {
                    width: 35px;
                }
            }
        }
    }
    .dashboard-profile-wrap {
        .dashboard-profile-wrap-rgt {
            .profile-dtls {
                ul {
                    li {
                        flex-wrap: wrap;
                        flex: 0 0 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1204px) {
    .as-recomended {
        flex-wrap: wrap;
        .as-recomended-heading{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}
@media only screen and (max-width: 1199.99px) {
    .about-client-sec{
        padding: 40px 0;
        .section-heading{
            margin-bottom: 0;
            h3{
                br{
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 1135px) {
    .best-seller-round-box-wrap {
        .best-seller-round-img {
            height: 250px;
            width: 250px;
        }
    }
    .about-page-sec {
        padding: 40px 0;
    }
    .quick-navigation-sec{
        &.faq-wrap-bg {
            padding: 40px 0;
        }
    }
    .blog-page-sec {
        padding-top: 40px;
    }
}

@media only screen and (max-width: 1024px) {
    .quick-navigation-menu-box {
        padding: 25px;
        h2{
            font-size: 26px;
        }
    }
}

@media only screen and (max-width: 1000px) {}

@media only screen and (max-width: 991px) {
    
    .best-seller-wrap {
        margin-top: -150px;
    }
    .best-seller-round-box-wrap {
        .best-seller-round-img {
            height: 200px;
            width: 200px;
            img{
                border: 10px solid #fff;
            }
        }
    }
    .main-banner {
        height: 600px;
    }
    .home-banner {
        height: 600px;
    }
    .home-banner-title {
        h2 {
            font-size: 50px;
        }
    }
    .banner-src {
        width: 600px;
    }
    // Dashboard menu responsive Start
    .front-dashboard-wrap{
        position: relative;
        .front-dashboard-wrap-lft{
            position: absolute;
            top: 0;
            left: 0;
            min-height: 100%;
            z-index: 1;
            transform: translateX(-110%);
            transition: all 0.4s ease-in-out;
            .dashboard-menu{
                position: absolute;
                right: 0;
                top: 0;
                border: none;
                box-shadow: none;
                background-color: rgba($color: #000000, $alpha: 0.8);
                font-size: 18px;
                svg{
                    color: $siteOrage;
                }
            }
            &.left-open{
                transform: translateX(0);
            }
        }
    }
    .dashboard-open-menu{
        padding: 0 8px;
        font-size: 24px;
        background-color: $white;
        border: 1px solid $siteOrage;
        border-radius: 5px;
        outline: none;
        box-shadow: none;
        margin-bottom: 15px;
        svg{
            color: $siteOrage;
        }
    }
    // Dashboard menu responsive End
}

@media only screen and (max-width: 960px) {}

@media only screen and (max-width: 910px) {}

@media only screen and (max-width: 900px) {}

@media only screen and (max-width: 885px) {}

@media only screen and (max-width: 880px) {}

@media only screen and (max-width: 800px) {}

@media only screen and (max-width: 768px) {
    .inner-banner-curp {
        height: 400px;
    }
    .add-blog-filter{
        .blog-filter-wrap{
            position: unset;
            justify-content: center;
            margin-bottom: 20px;
        }
    }    
}

@media only screen and (max-width: 767px) {
    .left-right-gap {
        padding-left: 40px;
        padding-right: 40px;
    }
    .best-seller-wrap {
        margin-top: -125px;
    }
    .best-seller-round-box-wrap {
        .best-seller-round-img {
            height: 165px;
            width: 165px;
        }
    }
    .home-banner-title {
        h2 {
            font-size: 40px;
        }
    }
    .banner-src {
        width: 500px;
    }
    .destination-info-dtls {
        h4 {
            font-size: 20px;
        }
        h3{
            font-size: 24px;
        }
    }
    .section-heading {
        margin-bottom: 15px;
        h4 {
            font-size: 20px;
            margin-bottom: 0;
        }
        h3{
            font-size: 24px;
        }
    }
    .home-destination-sec {
        padding: 20px 0 40px 0;
    }
    .home-popular-section {
        padding: 40px 0;
    }
    .home-activity-sec {
        .parallax-wrap {
            padding: 40px 0;
        }
    }
    .activity-wrap {
        .activity-box {
            h3 {
                font-size: 18px;;
            }
        }
    }
    .package-parallax-wrap {
        padding: 40px 0;
    }
    .home-about-sec {
        padding: 40px 0;
    }
    .best-seller-text {
        padding: 0 0 40px 0;
    }
    .tour-destination-wrap {
        .tour-destination-box {
            .destination-box-dtls {
                .destination-name {
                    transform: translate3d(0, 85px, 0);
                }
            }
        }
    }
    .best-seller-text {
        .destination-info-list-wrap{
            li{
                .destination-info-list-img {
                    width: 30px;
                }
            }
        }
    }
    // Dashboard menu responsive Start
    .dashboard-profile-wrap {
        flex-wrap: wrap;
        .dashboard-profile-wrap-lft{
            flex: 0 0 100%;
            max-width: 100%;
        }
        .dashboard-profile-wrap-rgt{
            padding-top: 20px;
            padding-left: 0;
            padding-right: 0;
        }
    }
    // Dashboard menu responsive End
}

@media only screen and (max-width: 736px) {}

@media only screen and (max-width: 667px) {}

@media only screen and (max-width: 600px) {
    .papular-package-one {
        flex-wrap: wrap;
        .papular-package-one-lft {
            flex: 0 0 100%;
            max-width: 100%;
            .papular-package-one-img{
                border-radius: 10px 10px 0 0;
            }
        }
        .papular-package-one-rgt{
            border-radius: 0 0 10px 10px;
        }
    }
}

@media only screen and (max-width: 575px) {   
    .review-wrap {
        li {
            font-size: 14px;
        } 
    }
    .destination-info-list-wrap {
        li{
            .destination-info-list-img {
                width: 20px;
            }
        }
    }
    .as-recomended {
        .as-recomended-logo {
            ul{
                li{
                    &:not(:last-child) {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
    .best-seller-wrap {
        margin-top: -100px;
    }
    .best-seller-round-box-wrap {
        .best-seller-round-img {
            height: 150px;
            width: 150px;
        }
    }
    .best-seller-sec {
        .parallax-wrap {
            padding-bottom: 0;
            height: 350px;
        }
    }
    .best-seller-text {
        .best-price-wrap {
            h2 {
                font-size: 20px;
            }
        }
        .destination-info-list-wrap {
            li {
                font-size: 18px;
            }
        }
    }
    .trip-month {
        img {
            max-width: 145px;
        }
    }
    .banner-src {
        width: 400px;
    }
    .destination-brick{
        >[class*="col-"]{
            margin-top: 15px;
            margin-bottom: 15px;
            &:nth-child(2){
                margin-top: 0px;
            }
            &:nth-child(3){
                margin-top: 0px;
            }
            &:nth-child(4){
                margin-top: 0px;
            }
        }
    }
}

@media only screen and (max-width: 545px) {}

@media only screen and (max-width: 480px) {
    .best-seller-wrap {
        margin-top: -90px;
    }
    .best-seller-round-box-wrap {
        .best-seller-round-img {
            height: 100px;
            width: 100px;
        }
    }
    .home-banner-title {
        h2 {
            font-size: 30px;
        }
    }
    .banner-src {
        width: 350px;
    }
}

@media only screen and (max-width: 414px) {}

@media only screen and (max-width: 384px) {}

@media only screen and (max-width: 375px) {}

@media only screen and (max-width: 320px) {}

@media only screen and (max-width: 240px) {}