@mixin radisButton {
    border-radius: 5px;
    height: 44px;
    line-height: 44px;
    font-size: 16px;
    text-transform: capitalize;
    padding: 0 20px;
    font-weight: 600;
}
@mixin transparentButton {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
}